<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PeopleSoft voucher creation">
<test name="createVoucher">
<parameter name="driverpath" value="/home/seema/eclipse-workspace/peoplesoft/chromedriver"/>
<classes>
<class name= "test.java.com.peoplesoft.container.test.PeopleSoftTest"/>
</classes>
</test>
</suite>